/*In java project we use a lot of things and stuff including servlets to manage server interactions, ajax requests to interact with database manager.
In this repository I will post some of the codes that may be helpfull for someone.
